<h1>Listing all churches</h1>

<%= link_to 'New Church', new_church_path %>

<%= form_tag churches_path, :method => 'get', :id => "churches_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>

<% end %>

<div id="churches"><%= render 'churches' %></div>