<h1>Listing all churches</h1>

<%= link_to 'New Church', new_church_path %>

<%= form_tag churches_path, :method => 'get', :id => "churches_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>

<% end %>


<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Bible Study</th>

  </tr>

<% @churches.each do |church| %>
  <tr>
    <td><%= church.name %></td>
    <td><%= church.description %></td>
     <td><%church.bible_studies.each do |study| %>
      <%= study.name %><br>
      <% end %></td>

    <td><%= link_to 'Show', church_path(church) %></td>
    <td><%= link_to 'Edit', edit_church_path(church) %></td>
  </tr>

  <% end %>

</table>

<%= will_paginate @churches %>