<p>
  <strong>Name:</strong>
  <%= @church.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @church.description %>
</p>

<p>
  <strong>Bible Study</strong>
  <% @church.bible_studies.each do |study| %>
  <%= study.name %>
  <% end %>
</p>



<%= link_to 'Back', churches_path %>
<%= link_to 'Edit', edit_church_path(@church) %>